body {
background-color: #FFFFFF;
color: #000000;
font-family: Arial, Helvetica, sans-serif;
font-size: 95%;
}
hr {
size: 1px;
}
img {
border: 0;
}
img.droit {
margin-left: 0.5em;
float: right;
}
img.gauche {
margin-right: 0.5em;
float: left;
}
table {
margin: 2px;
}
td {
padding: 1px;
font-face: Arial, Helvetica;
font-size: 12px;
font-weight: bold;
}
#outer_content {
position: absolute;
top: 5em;
background-color: #f0f0f0;
left: 50%;
width: 500px;
margin-left: -370px;
border: 2px solid #C8C8C8;
height: 235px;
-moz-border-radius: 5px 10px;
}
#inner_content {
position: absolute;
top: 3em;
left: 3em;
right: 3em;
bottom: 2em;
border: 2px solid #0CCCFE;
background-color: #a8e9ff;
background: -moz-linear-gradient(top, #a8e9ff 0%, #0ed9f0 100%);
-moz-border-radius: 5px 10px;
}
#erreur {
margin-left: 2px;
color: red;
font-weight: bold;
}